.wrapper {
    padding-top: 78px;
    font-size: 1.3rem;
    h3 {
        font-size: 2.6rem;
        font-weight: 400;
        margin-left: 50px;
    }
}
.content {
    padding: 0 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.table {
    width: 76%;
    padding: 20px;
    background-color: white;
}
.col-1 {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
}

.col-2,
.col-3,
.col-4 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img {
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid black;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-top: 1px solid #ececec;
}
.header.row {
    font-weight: 500;
    border-top: transparent;
    background-color: #f4f4f4;
    width: 100%;
}

.name {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.name:hover {
    color: var(--second-color);
}
.price {
    color: #d81c1c !important;
    font-weight: 700;
}
.delete {
    cursor: pointer;
    padding: 10px;
    font-size: 1.3rem;
}
.number {
    display: flex;
    background-color: #f3f3f3;
    align-items: center;
    padding: 0 8px 0 9px;
    min-width: 56px;
    justify-content: space-between;
    border-radius: 4px;
    span {
        margin-right: 10px;
    }
}
.icons {
    display: flex;
    flex-direction: column;
    button {
        padding: 0;
        cursor: pointer;
        max-height: 16px;
    }
    path {
        fill: rgb(18, 18, 18);
    }
}
.paginate {
    display: flex;
    width: 60%;
    margin: 30px auto;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 30px;
    li {
        list-style-type: none;
        min-width: 60px;
        font-weight: 600;
        text-align: center;
        border-radius: 4px;
        margin-right: 4px;

        cursor: pointer;
        a {
            padding: 10px 30px;
            font-size: 2.4rem;
            border-radius: 4px;
            color: rgba(0, 0, 0, 0.4);
        }
    }
    li:hover {
        background-color: var(--primary-color-light);
        a {
            color: white;
        }
    }
}
.active {
    background-color: var(--primary-color-light);
    a {
        color: white !important;
    }
}

.bill {
    padding: 20px 18px;
    background-color: white;
    height: 500px;
    width: 24%;
    font-size: 1.3rem;
    .header {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
}
.subject {
    font-size: 1.6rem;
    font-weight: 400;
}
.locate {
    color: #9e9e9e;
}

.middle {
    padding: 20px 0;
}
.detail {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    span {
        color: #9e9e9e;
    }
}
.footer {
    * {
        font-size: 1.3rem;
    }
}
.total {
    display: flex;
    justify-content: space-between;
}
.sale-code {
    display: flex;
    margin: 20px 0;
    input {
        font-size: 1.3rem;
        min-height: 38px;
        padding: 0 8px;
        flex: 1;
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        outline: none;
        &:focus {
            border: 1px solid #1a9cb7;
        }
    }
    button {
        font-size: 1.3rem;
        background-color: #1a9cb7;
        padding: 8px 16px;
        color: white;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
.sub {
    font-size: 1.3rem;
    float: right;
    margin: 4px 0 10px 0;
}
.submit {
    clear: both;
    width: 100%;
    background-color: #ff6600;
    color: white;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 1.7rem;
    &:hover {
        background-color: #fb8f46;
    }
}
.empty-cart {
    margin: 40px auto;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    svg {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
    path {
        fill: black;
    }
}

@media (max-width: 1400px) {
    .table {
        width: 100%;
    }
    .bill {
        width: 50%;
        margin-left: auto;
    }
    .content {
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .table {
        padding-left: 0;
        padding-right: 0;
    }
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bill {
        width: 100%;
        margin-left: auto;
    }
}
@media (max-width: 767px) {
    .wrapper {
        h3 {
            margin-left: 20px;
        }
    }
    .content {
        padding: 0 4px;
    }

    .col-1 {
        .img {
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
        }
    }
    .bill {
        padding: 4px;
    }
}

@media (max-width: 500px) {
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
        max-width: unset;
        padding-right: 0;
    }

    .col-3 {
        margin: 20px 0;
    }
    .row {
        flex-direction: column;
        align-items: unset;
    }
    .row.header {
        .col-4,
        .col-3,
        .col-2 {
            display: none;
        }
    }
    .img {
        margin: 0 10px;
    }
}
