.wrapper {
    background-color: #121212;
}
.footer-top {
    display: flex;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}
.col-1 {
    width: 33.333%;
}
.col-2,
.col-3 {
    width: 25%;
}
.col-4 {
    width: 16.666%;
}
.footer-top-item {
    padding: 10px;
    p,
    a {
        color: white;
        font-size: 1.4rem;
    }
    a + a {
        margin-top: 10px;
    }
    h3 {
        font-weight: 700;
        font-size: 1.8rem;
        color: white;
    }
}
.footer-menu {
    display: flex;
    flex-direction: column;
}
.social.footer-menu {
    flex-direction: row;
    align-items: flex-end;
    a {
        border-radius: 50%;
        background-color: white;
        width: 40px;
        height: 40px;
        margin-right: 6px;
    }
}

// footer middle

.footer-middle {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 20px;
    border-top: 1px solid var(--second-color);
    text-align: center;
}
.footer-middle-item {
    padding: 10px;
    flex: 2;
    p,
    a {
        font-size: 1.4rem;
    }
    a + a {
        margin-top: 10px;
    }
    h5 {
        font-weight: 500;
        color: var(--second-color);
        margin: 10px 0;
    }
    h3 {
        font-weight: 500;
        color: var(--second-color);
        text-align: start;
        font-size: 2rem;
    }
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.btn--contact {
    border-radius: 50px;
    padding: 6px 16px;
    display: inline-block;
    border: 1px solid white;
}

// end
.footer-end {
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    border-top: 1px solid rgb(226, 223, 223);
    text-align: center;
}

@media (max-width: 1024px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        width: 100%;
    }
    .footer-top {
        padding-left: 8px;
    }
    .footer-top-item {
        padding: 0;
        h3 {
            margin: 10px 0;
        }
    }
    .footer-middle {
        padding: 0;
        padding-left: 8px;
        flex-direction: column;
    }
    .footer-middle-item {
        display: flex;
        align-items: center;
        h5 {
            display: none;
        }
        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        .btn--contact {
            border: none;
            padding: 0;
        }
        h5 + div {
            text-align: start;
        }
    }
    .footer-end {
        font-size: 1.2rem;
        padding-left: 8px;
    }
}
